/* Custom CSS Font */
.kaushan {
	font-family: 'Kaushan Script', cursive !important;
}
.opensans {
	font-family: 'Open Sans', sans-serif !important;
}
.oswald {
	font-family: 'Oswald', sans-serif !important;
}

/* Body & HTML */
body {
	font-family: 'Open Sans', sans-serif !important;
}
html {
	scroll-behavior: smooth;
}

/* Navbar */
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	transition : background-color .5s, padding-top .5s;
}
@media (min-width: 992px){
	.navbar {
		padding-top: 50px;
	}
}
.navbar-brand {
	color: #69d2e7 !important;
	font-size: 30px;
	transition: font-size .5s;
	text-shadow: 10px 10px 10px black;
}
.navbar-nav {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.nav-item {
	margin-left: 30px;
	text-shadow: 10px 10px 10px black;
}
.dd1 {
	display: block;
	padding: 0px;
	border-style: none;
	font-size: 14px;
	background-color: #141414;
}
.dd1child {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dd1child:hover {
	color: black !important;
}

/* Home */
.home .jumbotron {
	padding-top: 110px;/* 110 */
	padding-bottom: 110px;
	background-image: url(img/bg1.jpg);
	background-size: 100% 100%;
	text-shadow: 4px 4px 4px black;
	margin-bottom: 0px;
}
@media (min-width: 992px){
	.home .jumbotron {
		padding-top: 202px;
		padding-bottom: 122px;
	}
}
.home h1 {
	font-size: 76px;
	text-align: center;
	text-shadow: 10px 10px 10px black;
}
.home p {
	font-size: 25px;
	text-align: center;
}
@media (min-width: 992px){
	.dd1 {
		border-style: solid;
		box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.175) !important;
	}
}

/* Member */
#member::before {
	display: block;
	content: "";
	height: 60px;
	margin-top: -60px;
	visibility: hidden;
}
.member .bg{
	background-color: coral;
	min-height: 1000px;
	text-align: center;
}
.member img{
	width: 70%;
}
.col-sm-12 {
	margin-bottom: 100px;
}
@media (min-width: 768px){
	.member img{
		width: 60%; 
	}
	.col-sm-12 {
		margin-bottom: 120px;
	}
}
@media (min-width: 992px){
	.member img{
		width: 75%;
	}
	.col1 {
		margin-right: -1%;
	}
	.col4 {
		margin-right: -1%;
		margin-left: -1%;
	}
	.col6 {
		margin-right: -1%;
	}
	.row2 {
		margin-top: -22.5%;
		margin-bottom: -22.5%;
	}
}
@media (min-width: 1200px){
	.member img{
		width: 66%;
	}
	.col1 {
		margin-right: -7%;
	}
	.col4 {
		margin-right: -7%;
		margin-left: -7%;
	}
	.col6 {
		margin-right: -7%;
	}
	.row2 {
		margin-top: -20%;
		margin-bottom: -20%;
	}
}
.member .card {
	position: absolute;
	margin-left: 50%;
	z-index: 1;
}

/* About */
#about::before {
	display: block;
	content: "";
	height: 60px;
	margin-top: -60px;
	visibility: hidden;
}
.about .bg{
	background-color: crimson;
	min-height: 1000px;
}